body{
    margin: 0 auto;
}

h1{
    font-size: 40px;
}

/* Template */
.box, .home_hero, .footer{
    background-color: antiquewhite;
    border: solid 1px pink;
    min-height: 50px;
}

.home_hero{
    padding-top:60px;
    min-height: 600px;
}

.footer{
    padding: 20px 0;
}
.box{
    padding: 100px 0;
}

/* Navbar */

nav.navbar{
    position: absolute;
    top:100;
    right:0;
    left:0;
    z-index:20;
}

/* Projects Section */

.my_button{
    margin:15px 0;
}

