@import url('https://fonts.googleapis.com/css?family=Khula:300,400,700&display=swap');

p, h1, h2, h3, h4,h5, h6{
    font-family: 'Khula', sans-serif;
}



body{
    margin: 0 auto;
}

/* Hero Section */
.home_hero h1{
    font-size: 60px;
    font-weight: 300;
    color: #1c2a43;
}

.home_hero{
    padding:60px 0px;
    min-height: 500px;
    background-color: #ffffff;
}

.hero_img{
    width:80%;
    margin-left:10%;
}

/* Template */
.box{
    background-color: antiquewhite;
    border: solid 1px pink;
    
}



.footer{
    padding: 20px 0;
}
.box{
    padding: 15px;
    min-height:600px;
}

/* Navbar */

/* nav.navbar{
    position: absolute;
    top:100;
    right:0;
    left:0;
    z-index:20;
} */
.navbar-default{
    background-color: transparent;
    border:none;
}

.my_active{
    border-bottom: 1px solid pink;
}

/* Projects Section */

.my_button{
    margin:80px 0;
    border-radius: 0;
    background-color: #2d3436;
    padding:15px 30px;
}

.main_img1{
    background-image: url(../img/iplace_thumb.jpg);
    background-position:center;
    background-size: cover;
}

.main_img2{
    background-image: url(../img/todoapp-thumb.jpg);
    background-position:0% 4%;
    background-size: cover;
}

.main_img3{
    background-image: url(../img/auweb-thumb.jpg);
    background-position:0% 4%;
    background-size: cover;
}

.main_img4{
    background-image: url(../img/jockman-thumb.jpg);
    background-position:50% 0%;
    background-size:cover;
    background-repeat: no-repeat
}

.thumb_lg{
    padding:50px;
    height: 500px;
}


/* Footer Section */
footer{
    background-color:#1c2a43;
}
.copyright{
    color:white;
    text-align: right;
    padding-top:5px;
  }
  .social-media{
    font-size:20px;
  }
  
  .social-icons{
      color:white;
  }
  .social-icons:hover{
    color: #1e90ff;
  }